<% layout("/layouts/boilerplate.ejs") %>

    <h3>All Listings!</h3>
    <!-- <form action="/listings/new" method="GET">
        <button>Create new Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col">
                    <img src="<%= listing.image %>" alt="listing_image" class="card-img-top" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b> <br>
                            &#8377 <%= (listing.price !==null ? listing.price.toLocaleString("en-In")
                                : 'Price not available' ) %> /night
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>